version: '3.8'
services:
  borrow:
    image: borrow_image
    container_name: borrow_service_container
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      DB_CONNECTION_STRING: "Host=borrow-sql;Port=5432;Database=borrowingdatabase;Username=borrowing;Password=BorrowingPassword"
    ports:
      - "5003:80"

  borrow-sql:
    image: postgres:latest
    container_name: postgers_borrow
    environment:
      POSTGRES_USER: "borrowing"
      POSTGRES_PASSWORD: "BorrowingPassword"
      POSTGRES_DB: "borrowingdatabase"
    ports:
      - "5432:5432"