version: '3.8'
services:
  borrow:
    image: borrow_image
    container_name: borrow_service_container
    ports:
      - "5003:443"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: https://+:443
      ASPNETCORE_Kestrel__Certificates__Default__Password: sergey@$
      ASPNETCORE_Kestrel__Certificates__Default__Path: /https/aspnetapp.pfx
    volumes:
      - ~/.aspnet/https:/https:ro
    networks:
      - microservices

  borrow-sql:
    image: postgres:latest
    container_name: postgers_borrow
    environment:
      - POSTGRES_USER=borrowing
      - POSTGRES_PASSWORD=BorrowingPassword
      - POSTGRES_DB=borrowingdatabase
    ports:
      - "5433:5432"
    networks:
      - microservices

networks:
  microservices:
    external: true
