version: "3.8"
services:
  identity-server:
      image: "mcr.microsoft.com/mssql/server:2019-latest"
      container_name: sql_server2019_identity
      environment:
        ACCEPT_EULA: "Y"
        SA_PASSWORD: "SAIdentity2023"
        MSSQL_PID: Express
      ports:
        - "1434:1433"
      networks:
        - microservices

  identity:
    image: identity_image
    container_name: identity_service_container 
    ports:
      - "5000:443"
      - "5010:80"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: https://+:443;http://+:80
      ASPNETCORE_Kestrel__Certificates__Default__Password: sergey@$
      ASPNETCORE_Kestrel__Certificates__Default__Path: /https/aspnetapp.pfx
    volumes:
      - ~/.aspnet/https:/https:ro
    networks:
      - microservices

networks:
  microservices:
    external: true   
