version: '3.8'
services:
  gateway:
    image: "gateway_image"
    container_name: gateway_container
    ports:
      - "5002:443"
      - "5012:80"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: https://+:443;http://+:80
      ASPNETCORE_Kestrel__Certificates__Default__Password: sergey@$
      ASPNETCORE_Kestrel__Certificates__Default__Path: /https/aspnetapp.pfx
    volumes:
      - ~/.aspnet/https:/https:ro
    networks:
      - microservices

networks:
  microservices:
    external: true 
